.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    /* background: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color:white;
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: black;
}

input,
select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.25);
}

button {
    /* background-color: green; */
    /* color: #fff; */
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 
button:hover {
    background-color: green;
} */

.results {
    margin-top: 2rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
}

.results p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color:white;
}