
.navbar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
  }
  
  .content {
        display: flex;
        flex-direction: column; 
        height: 100vh; 
        overflow-y: auto; 
      }
      .navbar .dropdown-menu {
        visibility: hidden; 
        opacity: 0; 
        transition: visibility 0.3s, opacity 0.3s ease;
        
        transform: translateY(-10px); 
      }
      
      .navbar li:hover .dropdown-menu {
        visibility: visible; 
        opacity: 1; 
        transform: translateY(0); 
      }
      .navbar li {
        position: relative; 
      }
      