body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Georgia, serif';
    background-color: #FAF8EF;
    color: #333333;
  }
  
  .vata-container {
    padding: 60px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out ;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .vata-heading {
    font-size: 36px;
    color: #7A288A;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .vata-text {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .vata-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .vata-container {
      padding: 20px;
    }
  
    .vata-heading {
      font-size: 28px;
    }
  
    .vata-text {
      font-size: 16px;
    }
  }